<!-- jobasoar/UserApp/templates/UserApp/admin_dashboard.html -->


{% extends 'base.html' %}

{% block content %}
<h2>Admin Dashboard</h2>
<ul>
    {% for employer in employers %}
        <li>
            {{ employer.name }}
            <form method="POST" action="{% url 'upload_xml' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="employer" value="{{ employer.id }}">
                <input type="file" name="xml_file">
                <input type="submit" value="Upload XML">
            </form>
        </li>
    {% endfor %}
</ul>
{% endblock %}

