{% extends "UserApp/base.html" %}
{% load static %}

{% block content %}
<main class="container py-5">
    <h2 class="text-center mb-4" style="color: #343a40;">Job Listings</h2>
    <div class="row">
        {% for job in object_list %}
        <div class="col-md-4">
            <div class="card job-card mb-4">
                <div class="card-body">
                    <h5 class="card-title" style="color: #343a40;">{{ job.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ job.company_name }}</h6>
                    <p class="card-text">{{ job.description|truncatewords:20 }}</p>
                    <a href="{% url 'jobasoar:job_detail' job.pk %}" class="card-link">View details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
